.container {

    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container li {

    border-bottom: 1px solid rgb(215, 192, 192);
    width: 100%;
    font-weight: bold;
}