.container {

    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: space-around;
    border-radius: 10px;
    width: 100%;
    margin: 2rem auto;
    color: white;
    background-color: black;
    margin-left: 1rem;
}

.clear {

    padding: 0.6rem 0.1rem;
    border-radius: 10px;
    border: none;
    background-color: brown;
    color: aliceblue;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 8rem;
}

label {
    color: white;
}