.sidebar {
    flex: 1;
    border-right: 0.5px solid rgb(129, 115, 115);
    min-height: 100%;
    background-color: rgb(11, 5, 5);
  
    .top {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .logo {
        font-size: 20px;
        font-weight: bold;
        color: #eae8f0;
      }
    }
    .username{     color: #eae8f0;
    }
   .icon{
    color: rgb(115, 110, 110);
   }
    hr {
      height: 0;
      border: 0.5px solid rgb(230, 227, 227);
    }
  .text{
    color: rgb(115, 110, 110);
  }
    .center {
      padding-left: 10px;
  
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
  
        .title {
          font-size: 10px;
          font-weight: bold;
          color: #0f0a0a;
          margin-top: 15px;
          margin-bottom: 5px;
        }
  
        li {
          display: flex;
          align-items: center;
          padding: 5px;
          cursor: pointer;
          color:black;
          &:hover {
            background-color: #ece8ff;
          }
  
          .icon {
            font-size: 18px;
            color: #7451f8;
          }
  
          span{
              font-size: 13px;
              font-weight: 600;
              color: #888;
              margin-left: 10px;
          }
        }
      }
    }
  
    .bottom{
        display: flex;
        align-items: center;
        margin: 10px;
  
        .colorOption{
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid #7451f8;
            cursor: pointer;
            margin: 5px;
  
            &:nth-child(1){
                background-color: whitesmoke;
            }
            &:nth-child(2){
                background-color: #333;
            }
            &:nth-child(3){
                background-color: darkblue;
            }
        }
    }
  }
  @media screen and (max-width: 876px) {
    .sidebar{

   margin-left: -10px;
    }
}
@media screen and (max-width: 793px) {
  .sidebar{

 margin-left: -15px;
  }
}
@media screen and (max-width: 740px) {
  .sidebar{

 margin-left: -50px;
  }
}


  @media screen and (max-width: 650px) {
    .sidebar{

   margin-left: -60px;
    }
}