
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap')
;
html, body {
    overflow-x: hidden;
}
html {
  margin: 0;
  padding: 0;
}
body {
 
    margin: 0;
    padding: 0;


overflow-x: hidden;
  font-family:  'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 
  img{
  max-width: 100%; /* Limit maximum width */
  max-height: 400px; /* Limit maximum height */
  object-fit: contain}

 

